#features {
  display: grid;
  grid-template-rows: auto auto;
}
/* titleFeatures */
#features .titleFeatures {
  color: #3a1097;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin: 20px 11px 20px 11px;
}
#features .titleFeatures::before {
  content: "";
  position: absolute;
  width: 50px;
  border-top: solid #00d1ed;
}
/* BoxItems */
#features .boxItems {
  display: grid;
  grid-template-columns: auto auto auto;
}
#features .boxItems .itemFeature {
  display: grid;
  grid-template-rows: 20% 80%;
  height: 272px;
  background-image: url("./img/itemFeature.jpg");
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 10px;
  background-size: 100% 100%;
}
#features .itemFeature .titleItem {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px 10px 0px 20px;
}
#features .categoryItem {
  display: flex;
  align-items: center;
}
#features .categoryItem .contentCategory {
  color: #000;
  background-color: #f8f9fa;
  padding: 2px 4px;
  border-radius: 5px;
}
#features .itemFeature .date_actor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #f8f9fa;
  letter-spacing: 0.005em;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  align-items: center;
}
#features .itemFeature .date_actor i {
  font-size: 5px;
}
#features .contentItem {
  margin: 10px 10px 0px 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
